.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.card-hover :hover {
    background-color: aqua;
}

.noNote-message {
    display: flex;
    height: 75vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-icon {
    font-size: 10vh;
}

.no-note {
    font-size: xx-large;
}

.maxi {
    display: flex;
    justify-content: center;
    /* display: none; */
}

.content {
    position: absolute;
    top: 5vh;
    height: 93vh;
    width: 99vw;
    /* background-color: lightyellow; */
    background-color: #4A5255;
    color: black;
    box-shadow: 10px 10px 100px lightgray, -10px -10px 100px lightgray;
}

.content h1 {
    /* color: green */
    color: white;
    border-bottom: 3px solid rgb(211, 185, 185);
}

.content p {
    color: rgb(231, 219, 219);
    font-size: larger;
    width: 99vw;
    height: 83vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.content ::-webkit-scrollbar {
    width: 20px;
}


.content ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

.content ::-webkit-scrollbar-thumb {
    background: skyblue;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: blue;
}

.close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 2rem;
    background-color: black;
    color: white;
    border-radius: 50%;
    /* color: white; */
}

.close:hover {
    transform: scale(1.2);
    /* color: yellow; */
}